@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
/** For TestTypeSearchResults */

.container {
  margin: layout.$spacing-03 layout.$spacing-05;
}

.divider {
  border: 0;
  border-top: 1px solid colors.$cool-gray-70;
  width: 66%;
}

.desktopDivider {
  margin: layout.$spacing-07 auto layout.$spacing-05;
}

.tabletDivider {
  margin: layout.$spacing-08 auto layout.$spacing-06;
}

.searchResultsCount {
  @include type.type-style('body-compact-01');
  color: colors.$gray-70;
}

.orderBasketSearchResultsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: layout.$spacing-03;
  align-items: center;
}

/** For TestTypeSearchResultItem */

.searchResultTile {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid colors.$gray-20;
  &:not(:last-of-type) {
    margin-bottom: layout.$spacing-03;
  }
}

.tabletSearchResultTile {
  margin-top: 5px;
  background-color: colors.$white;
}

.searchResultTileContent {
  padding: layout.$spacing-03 layout.$spacing-05;
}

.searchResultActions {
  border-top: 1px solid colors.$gray-20;
  padding: 0 layout.$spacing-05;
  display: flex;
  justify-content: flex-end;
}

.searchResultSkeletonWrapper {
  margin: layout.$spacing-03 1rem layout.$spacing-03;

  :global(.cds--skeleton__text) {
    margin: 0;
  }

  .searchResultCntSkeleton {
    margin-right: layout.$spacing-07;
  }

  .skeletonTile {
    display: flex;
    align-items: center;
  }
}

.emptyState {
  margin: layout.$spacing-05;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: layout.$spacing-07;
  border: 1px solid colors.$gray-20;
  text-align: center;
  background-color:colors.$gray-10;
}

:global(.omrs-breakpoint-lt-small-desktop) .emptyState {
  background-color: colors.$white;
}

.link {
  color: colors.$blue-60;
  text-decoration: underline;
  cursor: pointer;
}

.resultsContainer {
  overflow-y: scroll;
}

.resultsContainer::-webkit-scrollbar {
  width: layout.$spacing-03;
}

.resultsContainer::-webkit-scrollbar-thumb {
  background: colors.$gray-50;
  border-radius: layout.$spacing-02;
}
