@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '../../root.scss' as *;

.widgetCard {
  border: 1px solid colors.$gray-20;
  border-bottom: none;
}

.headerBtnContainer {
  background-color: $ui-background;
  padding: spacing.$spacing-05;
  text-align: right;
}

.tileContainer {
  background-color: colors.$white;
  border-top: 1px solid colors.$gray-20;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: colors.$gray-70;
}

.container {
  background-color:colors.$gray-10;
}

.separator {
  @include type.type-style('body-compact-02');
  color: colors.$gray-70;
  width: 80%;
  margin: 1.5rem auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: colors.$gray-40
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5rem;
    margin-left: -50%;
  }

  &::after {
    left: 0.5rem;
    margin-right: -50%;
  }
}
