@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.tileContainer {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05 layout.$spacing-05;
  flex-wrap: wrap;
}

.tile {
    border: 1px solid colors.$gray-20;
    padding: layout.$spacing-05;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: layout.$spacing-05;

    & > span {
        font-size: 2rem;
        font-weight: lighter;
        color: colors.$gray-70;
    }
}

.tileContainer {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05 layout.$spacing-05;
}
