@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-08;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.mainContent {
  flex: 1 1 auto;
  padding-bottom: layout.$spacing-10;
}

.printableBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.printableHeader {
  display: flex;
  flex-direction: row;
}

.img {
  display: flex;
  margin-left: auto;
}

.billDetails {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.facilityDetails {
  display: flex;
  flex-flow: column wrap;
  text-align: right;
}

.heading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: layout.$spacing-05;
}

.facilityName {
  @include type.type-style('heading-compact-02');
  font-weight: bold;
  color: colors.$green-70;
}

.itemHeading {
  @include type.type-style('body-compact-02');
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: colors.$cool-gray-90;
}

.itemLabel {
  @include type.type-style('body-compact-02');
  color: colors.$cool-gray-90;
  word-break: break-word;      
  overflow-wrap: break-word;
}

.printResults {
  margin-top: layout.$spacing-05;
}

.btnSet {
  width: 100%;
}

.itemFooter {
  padding: layout.$spacing-01 layout.$spacing-05;
  @include type.type-style('body-compact-02');
  color: colors.$cool-gray-90;
}

.footDescription {
  @include type.type-style('legal-01');
  padding: layout.$spacing-01 layout.$spacing-05;
  color: colors.$cool-gray-70;
}

.itemHeadingGroup {
  @include type.type-style('body-compact-02');
  margin-bottom: layout.$spacing-07;
  font-weight: bold;
  color: colors.$cool-gray-90;
}

.sectionFooter {
  width: 100%;
  padding: layout.$spacing-05;
  margin-top: layout.$spacing-07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid colors.$cool-gray-20;
}

@media print {
  .container {
    min-height: 100vh;
    position: relative;
  }

  .mainContent {
    padding-bottom: 120px; 
  }

  .sectionFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid colors.$cool-gray-40;
    background: white;
  }
}